
	
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				<header>
				<h1 >Welcome to my About page</h1>
				<p>
					I am delighted you are here.
					Feel free to go through my page.
				</p>
				</header>
				<p>
				<h2>
					About me!! 
				</h2>
				<dl>
					<dt><h5>Personal Info:</h5></dt>
					<dd>My name is Heer Patel.</dd> 
					<dd>My student ID is 103843223.</dd> 
					<dt><h5>Studies:</h5></dt>
					<dd>I have completed Certification in Big Data Analytics</dd>
					<dd>Currently I am doing Database Application Developer</dd>
				</dl>

				<!-- End your code here  -->
			</main>
		</div>
	

	