
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				<header>
					<h1>Welcome to my HTML DEMO page</h1>
					<p>
						Demo of some html features.
					</p>
				</header>
				<section>
					<h2>
						Tables
					</h2>
					<table class="demo-table">
						<caption style="text-align: center;">Table Vehicle</caption>
						<thead>
							<tr>
								<th rowspan="2">
								<th colspan="3" style="text-align: center;">Vehicles</th>
							</tr>
							<tr>
								<th>Plane</th>
								<th>Bus</th>
								<th>Boat</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Image</td>
								<td><img src="https://cdn-icons-png.flaticon.com/512/0/614.png" alt="plane image" style ="width: 100px; height: 80px;"></td>
								<td><img src=https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/800px-Bus-logo.svg.png alt="Bus image" style ="width: 100px; height: 80px;"></td>
								<td><img src=https://cdn-icons-png.flaticon.com/512/861/861011.png alt="Boat images" style="width: 100px; height: 80px;"> </td>
							</tr>
							<tr>
								<td>Mode Type</td>
								<td>Air</td>
								<td>Road</td>
								<td>Water</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4">The table shows the type of vehicels and its image. Also, its mode of transport.</td>
							</tr>
						</tfoot>
					</table>
				</section>
				<section>
					<h2>Lists</h2>
					<ol>
						<li>Maths</li>
						<li>Social-studies</li>
						<li>Science
							<ul>
								<li>Physics</li>
								<li>Chemistry</li>
								<li>Biology</li>
							</ul>
						</li>
						<li>Computer Science</li>
						<li>French</li>
					</ol>
					<p>List of the subjects. Science subject has 3 subjects</p>
				</section>
				<section>
					<h2>Image Gallery</h2>
					<p>Enjoy a visual journey with these stunning images:</p>
			
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" style ="width: 300px; height: 300px;" alt="Snowboarder in Halfpipe">
					<img src="https://gumlet.assettype.com/knocksense%2F2023-03%2F6465c23f-cfdc-4c27-b2d0-712a0b6e623b%2F144404795Ahmedabad_Riverfront__1_.jpg?format=auto" style ="width: 300px; height: 300px;" alt="Ahmedabas city og Gujarat, India">
					<img src="https://s3.ap-southeast-1.amazonaws.com/imgnew.outlookindia.com/uploadimage/library/16_9/16_9_5/Garba-dance_1_20211001_1642159624.jpg "  style ="width: 400px; height: 300px;" alt="Garba Traditional Dance">
					
					<p>The fisrt image shows the  Snowboarder. The second image shows the beauty of nature and architecture from around the world. Third image shows the traditional dance known as "Garba"</p>
				</section>
				<section>	
					<h2>Audio Player</h2>
					<p>Listen to the following audio track:</p>
					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-audio.mp3" type="audio/mpeg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-audio.ogg" type="audio/ogg">
						Your browser does not support the audio element.
					</audio>
					<p>Enjoy the audio experience! This HTML5 audio player allows you to listen to the provided track. You can use the player controls to play, pause, adjust volume, and more.</p>
				</section>
				<section>
					<h2>Video Player</h2>
					<p>Watch the following video:</p>
					<video controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-video.mp4" type="video/mp4">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-video.ogg" type="video/ogg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-video.webm" type="video/webm">
						Your browser does not support the video element
					</video>
					<p>Enjoy the video experience! This HTML5 video player allows you to watch the provided video. You can use the player controls to play, pause, adjust volume, and more.</p>
				</section>
					<!-- End your code here  -->

			</main>
		</div>


	